.left-side {
    width: 399px;
    height: 100%;
}

.left-side_search {
    height: 55px;
    border: 1px lightgray solid;
    background: white;
}

.left-side_search_search_input {
    background-color: #f1f2f6;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 5px;
    height: 25px;
    text-align: left;
    padding-top: 5px;
    width: 65%;
    outline: none;
    display: inline;
    padding-left: 50px;
    border: none;
}

.left-side_list-contacts {
    overflow: scroll;
    height: 600px;
}

.left-side_list-contacts::-webkit-scrollbar {
    width: 0;
}
