.message {
    display: inline-block;
    text-align: left;
    margin-top: 50px;
    min-width: auto;
}

.message_me {
    background: #dcf8c7;
    margin-left: 500px;
    padding: 5px;
    border-radius: 5px;
}

.message_companion {
    background: white;
    margin-right: 750px;
    padding: 5px;
    border-radius: 5px;
}
